@media only screen and (max-width: 375px) {
    body {
        background-color: hsl(30, 38%, 92%);
        height: 100%;


    }

    main {
        width: 90vw;
        /* height: 90vh; */
        margin: 1.7rem auto;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        cursor: auto;

    }
    section {
        padding: 10px 15px;
    }
    .perfume {
        letter-spacing: 0.5ch;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        line-height: 1.5rem;
    }

    .banner-mobile {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: hsl(212, 21%, 14%);
    }
    .banner-desktop {
        display: none;
    }

    h1 {
        margin-top: 0;
        font-family: "Fraunces", sans-serif;
    }

    h2 {
        margin-right: 1.2rem;
        font-size: 1.7rem;
        font-family: "Fraunces", sans-serif;
        color: hsl(158, 36%, 37%);
        
    }

    button {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-bottom: 1em;
        background-color: hsl(158, 36%, 37%);
        border-radius: 10px;
        border: none;
        cursor: pointer;

    }

    .price-section {
        display: flex;
        align-items: center;
    }

    .crossed-price {
        text-decoration: line-through;
    }

    .button-text {
        color: white;
    }

    .cart-icon {
        margin: 0 0.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-color: hsl(30, 38%, 92%);
        height: 100%;
        display: flex;
    }

    main {
        display: flex;
        width: 50vw;
        height: 60vh;
        margin: auto;
        margin-block: 25vh;
        background-color: white;
        border-radius: 10px;
        cursor: default;
    }

    section {
        width: 50%;
        padding: 1rem 1.2rem;
    }

    .banner-desktop {
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    .banner-mobile {
        display: none;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        line-height: 1.5rem;
    }
    .perfume {
        letter-spacing: 0.5ch;
    }

    h1 {
        margin-top: 0;
        font-family: "Fraunces", sans-serif;
        font-size: 2.5em; ;
    }

    .price-section {
        display: flex;
        align-items: center;
    }
    button {
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-bottom: 1em;
        background-color: hsl(158, 36%, 37%);
        border-radius: 10px;
        border: none;
        cursor: pointer;

    }

    .cart-icon {
        margin: 0 0.5rem;
    }
    
    .crossed-price {
        text-decoration: line-through;
    }

    .button-text {
        color: white;
    }
    h2 {
        margin-right: 1.2rem;
        font-size: 2.2rem;
        font-family: "Fraunces", sans-serif;
        color: hsl(158, 36%, 37%);
        
    }
}

